/* Setup */
html, body {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	display: grid;
	grid-template: 100% / 100%;
	background: var(--color-neutral-6);
}

section {
	margin-bottom: var(--space-2);
}




/* General styles */

/* Figure */
figure {
	margin: var(--space-1) 0;
}
figcaption {
	color: var(--color-neutral-3);
	font-size: 12px;
	text-align: center;
	line-height: 1.5;
}


/* Images */
img {
	width: 100%;
	height: auto;
	background: var(--color-neutral-1);
	border-radius: var(--radius-0);
}
.picture {
	width: 100%;
	height: auto;
}
.galleryImage {
	pointer: cursor;
}


/* Icons */
.iconMenu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
}
.iconMenu::after, .iconMenu::before {
	content: '';
	position: absolute;
	width: 32px;
	height: 2px;
	background: var(--color-neutral-0);
	transition: transform .25s var(--curve-circ);
}
.iconMenu::after {
	transform: translateY(6px);
}
.iconMenu::before {
	transform: translateY(-6px);
}
.iconMenu.is-open::after, .iconMenu.is-open::before {
	transform: translateY(0);
}




/* Miscellaneous */
.hide {
	display: none;
}
