.card {
	display: grid;
	grid-template: 60px 1fr 60px / 60px 1fr 60px;
	background: pink;
	@include box(350px);

	&--top {
		grid-area: 2 / 2 / 4 / 4;
		background: red;
		@include box(100%);
	}

	&--bottom {
		grid-area: 1 / 1 / 3 / 3;
		background: blue;
		@include box(100%);
	}
}
