/* Menu icon */
.iconMenu {
	position: relative;
	@include flex(center, center, column);
	@include box(32px, 32px);

	&::after, &::before {
		background: $color-neutral-0;
		transition: transform .25s $curve-circ;
		@include overlay(true, auto, auto, auto, auto);
		@include box(32px, 2px);
	}
	&::after {
		transform: translateY(6px);
	}
	&::before {
		transform: translateY(-6px);
	}
	&.is-open::after, &.is-open::before {
		transform: translateY(0);
	}
}
