* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

body, html, #svelte {
	@include box(100%);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.wrapper {
	max-width: 768px;
	margin: 0 auto;
	padding: 0 $space-2;
}

img {
	@include box(100%, auto);
	background: $color-neutral-1;
}
