@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	@include font($size-2, 400);
	color: $color-neutral-4;
	font-family: $font-primary;
	line-height: 1.75;
}

strong {
	@include font(inherit, 600);
}

a {
	color: $color-primary-0;
	text-decoration: none;
	vertical-align: middle;
	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: $space-1 0;
	color: $color-neutral-5;
	font-family: $font-secondary;
	line-height: 1.25;
}
h1 {
	@include font($size-7, 700);
}
h2 {
	@include font($size-6, 600);
}
h3 {
	@include font($size-5, 400);
}
h4 {
	margin: $space-0 0;
	@include font($size-4, 500);
}
h5 {
	margin: $space-0 0;
	@include font($size-3, 700);
}
h6 {
	margin: $space-0 0;
	@include font($size-2, 800);
}

.overline {
	@include font($size-0, 600);
	color: $color-neutral-3;
	font-family: $font-secondary;
	text-transform: uppercase;
	letter-spacing: 2px;
}

::selection {
	color: $color-neutral-0;
	background: $color-neutral-5;
}
