$color-primary-0: #439bc4;
$color-primary-1: #32837e;
$color-primary-2: #443178;
$color-primary-3: #23295a;

$color-neutral-0: #fff9f0;
$color-neutral-1: #ebe0bd;
$color-neutral-2: #d2989a;
$color-neutral-3: #89545e;
$color-neutral-4: #522428;
$color-neutral-5: #140410;

$radius-0: 12px;
$radius-1: 24px;

$space-0: 6px;
$space-1: 12px;
$space-2: 24px;
$space-3: 48px;
$space-4: 96px;

$size-0: 12px;
$size-1: 14px;
$size-2: 16px;
$size-3: 20px;
$size-4: 24px;
$size-5: 32px;
$size-6: 48px;
$size-7: 56px;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$curve-circ: cubic-bezier(.8, 0, .2, 1);
$curve-quart: cubic-bezier(.76, 0, .24, 1);
