.sectionHero {
	margin: 0;
	box-sizing: content-box;
	background: $color-secondary-1 url('/assets/hero.png') center / 400px no-repeat;
	overflow: hidden scroll;
	@include flex(center, center, column);
	@include box(100%);

	@include desktopScreen(landscape) {
		&--con {
			@include flex(center, flex-end, row);
		}
	}

	&--text {
		position: relative;
		color: $color-accent-0;
		font-size: 64px;
		text-transform: capitalize;
		line-height: 1;

		&::after {
			border-radius: 50%;
			background: $color-secondary-1;
			transform: translate(120px, 160px);
			mix-blend-mode: screen;
			@include overlay(true, auto, 0, 0, auto);
			@include box(128px);

			@include desktopScreen(landscape) {
				@include overlay(true, 0, 0, auto, auto);
				transform: translate(245px, -120px);
			}
		}
		&::before {
			border-radius: $radius-0;
			background: $color-secondary-3;
			transform: translate(-120px, -120px);
			mix-blend-mode: screen;
			@include overlay(true, auto, auto, auto, 0);
			@include box(256px);
		}
	}

	&--cta {
		margin-top: 110px;

		@include desktopScreen(landscape) {
			margin-top: 0;
			margin-left: $space-3;
		}
	}
}
